<!DOCTYPE html>
<html>
    <head>
        <title>StaX 3000 Robot Command Center</title>
    </head>
    <body>
        {% if logged_in %}
    
        <h1>Welcome to the StaX 3000 Robot Command Center!</h1>
        <button onclick="window.location.href='/driveSquare'">Run DriveSquare</button>
        <button onclick="window.location.href='/driveTriangle'">Run DriveTriangle</button>
        <button onclick="window.location.href='/pickupAndDeliverBox'">Pickup and Deliver Box</button>
        <button onclick="window.location.href='/driveStraight'">Drive Straight</button>
        <button onclick="window.location.href='/turnM3On'">M3</button>
        <button onclick="window.location.href='/turnM4On'">M4</button>
        
        {% else %}
    
            <button onclick="window.location.href = '/'">Login</button>
        
        {% endif %}
    </body>
</html>